<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="valueChanged()" [(ngModel)]="dailyQuest" [ngModelOptions]="{standalone: true}"/>
        <label for="dailyQuest">Daily Quest (4)</label>
    </div>
</div>

<div class="symbolInput">
    <div class="inputLabelWrapper">
        <label for="hungryMuto">Hungry Muto</label>
        <input class="numberInput" name="hungryMuto" id="hungryMuto" type="number" [(ngModel)]="hungryMuto" (input)="hungryMutoInput($event)">
    </div>
</div>