<div class="contentPageOverride">
    <button class="currencyButton" (click)="changeCurrency()">Switch £/€</button>
    <p class="title">Plutus Metal</p>
    <p class="infoTextTop">
        This is a community-created calculator based on information released by Plutus
        regarding their upcoming Metal Cards. Please note that the values provided below are in PLU
        Rewards, which are an in-game token within the Plutus platform. The value of each of these
        native tokens is determined by Plutus customers outside of the platform.
    </p>
    <div class="inputWrapper">
        <div class="inputLabelWrapper">
            <label for="subscriptionTier">Subscription tier</label>
            <select class="select" name="subscriptionTier" id="subscriptionTier" (change)="subscriptionTierChange($event)">
                <option *ngFor="let r of subscriptionTiers" value="r">{{ r.name }}</option>
            </select>
        </div>
        <div class="inputLabelWrapper">
            <label for="stackingTier">Stacking tier</label>
            <select class="select" name="stackingTier" id="stackingTier" (change)="stackingTierChange($event)">
                <option *ngFor="let r of stackingTiers" value="r">{{ r.name }}</option>
            </select>
        </div>
    </div>
    <table>
        <tr>
            <th></th><!-- Empty cell for spacing -->
            <th  class="thSmaller" *ngFor="let r of metalTiers">
                {{ r.name }}
                <br>
                {{ currencySymbol }}{{ r.cost }}
            </th>
            <!-- <td class="checkBoxCell"></td> -->
        </tr>
        <tr>
            <td>Super Charged Perks ({{ perkCount }})</td>
            <td class="tdSmaller" *ngFor="let r of superChargedPerksValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="superChargedPerksTotalCalc" id="superChargedPerksTotalCalc" type="checkbox" (change)="superChargedChanged()" [(ngModel)]="superChargedPerksTotalCalc"/>
            </td> -->
        </tr>
        <!-- <tr>
            <td>Super Charged Perks ({{ perkCount }})<br>Minus Default Value</td>
            <td *ngFor="let r of superChargedPerksActualValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <td class="checkBoxCell">
                <input name="superChargedPerksActualTotalCalc" id="superChargedPerksActualTotalCalc" type="checkbox" (change)="superChargedActualChanged()" [(ngModel)]="superChargedPerksActualTotalCalc"/>
            </td>
        </tr> -->
        <tr>
            <td>Golden Ticket Referral</td>
            <td class="tdSmaller" *ngFor="let r of goldenTicketReferralsValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="goldenTicketReferralsTotalCalc" id="goldenTicketReferralsTotalCalc" type="checkbox" (change)="goldenTicketChanged()" [(ngModel)]="goldenTicketReferralsTotalCalc"/>
            </td> -->
        </tr>
        <!-- <tr>
            <td>Golden Ticket Referral<br>Minus Default Value</td>
            <td *ngFor="let r of goldenTicketReferralsActualValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <td class="checkBoxCell">
                <input name="goldenTicketReferralsActualTotalCalc" id="goldenTicketReferralsActualTotalCalc" type="checkbox" (change)="goldenTicketActualChanged()" [(ngModel)]="goldenTicketReferralsActualTotalCalc"/>
            </td>
        </tr> -->
        <tr>
            <td>x2 Rewards Voucher</td>
            <td class="tdSmaller" *ngFor="let r of doubleRewardsVoucherValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="doubleRewardsVoucherTotalCalc" id="doubleRewardsVoucherTotalCalc" type="checkbox" (change)="doubleRewardsChanged()" [(ngModel)]="doubleRewardsVoucherTotalCalc"/>
            </td> -->
        </tr>
        <!-- <tr>
            <td>x2 Rewards Voucher<br>Minus Default Value</td>
            <td *ngFor="let r of doubleRewardsVoucherActualValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <td class="checkBoxCell">
                <input name="doubleRewardsVoucherActualTotalCalc" id="doubleRewardsVoucherActualTotalCalc" type="checkbox" (change)="doubleRewardsActualChanged()" [(ngModel)]="doubleRewardsVoucherActualTotalCalc"/>
            </td>
        </tr> -->
        <!-- Empty row for spacing -->
    </table>
    <p></p>
    <table>
        <!-- <tr>
            <td colspan="4" class="emptyCell">Select the columns above you want to take into the total value calculation</td>
        </tr> -->
        <tr>
            <td>Total Value</td>
            <td class="tdSmaller" *ngFor="let r of totalValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="emptyCell"></td> -->
        </tr>
        <tr>
            <td>Total Value Minus Card Cost</td>
            <td class="tdSmaller" *ngFor="let r of totalValueMinusCost; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="emptyCell"></td> -->
        </tr>
    </table>
    <p class="infoTextMiddle">
        The metal card bundles replace some of the existing benefits, providing you with
        supercharged rewards. Therefore, the value received for the basic subscription/RL cost is not
        accounted for, much like how 325 PLU for unlocking Hero is not accounted for, replacing 3%
        worth just £4.99 with 4%. However, for illustration purposes, here is what the value earned
        would look like if you remove the original benefits
    </p>
    <table>
        <tr>
            <td>Total</td>
            <td class="tdSmaller" *ngFor="let r of totalValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="superChargedPerksActualTotalCalc" id="superChargedPerksActualTotalCalc" type="checkbox" (change)="superChargedActualChanged()" [(ngModel)]="superChargedPerksActualTotalCalc"/>
            </td> -->
        </tr>
        <tr>
            <td>Original Benefits</td>
            <td class="tdSmaller" *ngFor="let r of totalOriginalBenefits; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="goldenTicketReferralsActualTotalCalc" id="goldenTicketReferralsActualTotalCalc" type="checkbox" (change)="goldenTicketActualChanged()" [(ngModel)]="goldenTicketReferralsActualTotalCalc"/>
            </td> -->
        </tr>
        <tr>
            <td>Total Minus Original Benefits</td>
            <td class="tdSmaller" *ngFor="let r of totalActualValue; let i = index">{{ currencySymbol }}{{ r }}</td>
            <!-- <td class="checkBoxCell">
                <input name="doubleRewardsVoucherActualTotalCalc" id="doubleRewardsVoucherActualTotalCalc" type="checkbox" (change)="doubleRewardsActualChanged()" [(ngModel)]="doubleRewardsVoucherActualTotalCalc"/>
            </td> -->
        </tr>
    </table>
</div>