<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="valueChanged()" [(ngModel)]="cerniumDailyQuest" [ngModelOptions]="{standalone: true}" />
        <label for="dailyQuest">Cernium (5)</label>
    </div>
</div>

<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="erdaSpectrum" id="erdaSpectrum" type="checkbox" (change)="valueChanged()" [(ngModel)]="burningCerniumDailyQuest" [ngModelOptions]="{standalone: true}" />
        <label for="erdaSpectrum">Burning Cernium (5)</label>
    </div>
</div>