<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="gamePageContent">
    <div class="topBar">
        <p *ngIf="!editModeActive" class="timer">Reset in <br> {{ timerString }}</p>
        <div *ngIf="editModeActive" class="regionSelector">
            Region: 
            <select class="select" (change)="regionChange($event)">
                <option *ngFor="let r of regions" value="r.resetUtcOffset" [selected]="resetUtcOffset == r.resetUtcOffset">{{r.name}}</option>
            </select>
        </div>
        <p class="title">Daily Tracker {{ dailies[characterIndex].characterName }}</p>
        <button class="editButton" (click)="toggleEditMode()">{{ editButtonMessage }}</button>
    </div>
    <div class="characterNavigationBar">
        <a (click)="changeCharacter(0)" [ngClass]="(characterIndex == 0)?'selected':'notSelected'">{{ dailies[0].characterName }}</a>
        <a (click)="changeCharacter(1)" [ngClass]="(characterIndex == 1)?'selected':'notSelected'">{{ dailies[1].characterName }}</a>
        <a (click)="changeCharacter(2)" [ngClass]="(characterIndex == 2)?'selected':'notSelected'">{{ dailies[2].characterName }}</a>
        <a (click)="changeCharacter(3)" [ngClass]="(characterIndex == 3)?'selected':'notSelected'">{{ dailies[3].characterName }}</a>
    </div>
    <p class="editModeMessage" *ngIf="editModeActive">Edit mode active, click on the names of dailies to disable them (this
        will prevent them from showing up outside of the edit mode)<br>Adding custom dailies is possible with the option at the bottom of each list (custom dailies cannot be disabled but are instead removed)</p>
    <div class="inputWrapper" *ngIf="editModeActive">
        <div class="characterNameInput">
            <label for="characterName">Character Name</label>
            <input class="textInput" type="text" id="characterName" name="characterName" maxlength="12" [(ngModel)]="dailies[characterIndex].characterName">
        </div>
    </div>
    <div class="dailyGroups">
        <div *ngIf="allDailyBossesDisabled && allDailyTasksDisabled && allDailyArcaneRiverDisabled && !editModeActive">
            All dailies are disabled, click on the "Edit Dailies" button to enable dailies.
        </div>
        <div *ngIf="!allDailyBossesDisabled || editModeActive" class="taskGroupWrapper">
            <p>Daily Bosses</p>
            <ng-container *ngFor="let item of dailies[characterIndex].dailyBosses; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="(item.enabled || editModeActive) && evaluateDisplayCondition(item.displayCondition)">
                    <div class="imgWrapper">
                        <img [src]="item.type != 'custom' ? 'assets/Games/Maplestory/Dailies/' + item.image : item.image" onerror="this.onerror=null; this.src='assets/Games/Maplestory/Dailies/Custom.png'" alt="{{item.name}}">
                    </div>
                    <label for="dailyQuest{{i}}" (click)="disableDailyBoss(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="dailyQuest{{i}}" id="dailyQuest{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="dailiesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveDailyBoss(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveDailyBoss(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="taskWrapper addTask" *ngIf="editModeActive" (click)="addCustomDaily('boss')">
                <div class="imgWrapper">
                    <img src="assets/Games/Maplestory/Dailies/Custom.png" alt="custom">
                </div>
                <label>Add Custom Daily</label>
                <div class="inputWrapper">
                    <div class="taskAdder">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!allDailyTasksDisabled || editModeActive" class="taskGroupWrapper">
            <p>Daily Tasks</p>
            <ng-container *ngFor="let item of dailies[characterIndex].dailyTasks; let i = index">
                <div class="taskWrapper" [ngClass]="{'enabledTask': item.enabled, 'disabledTask': !item.enabled, 'ursusTaskWrapper': ursusTimerPrefix == 'Golden Time ending in' && item.name == 'Ursus' && resetUtcOffset == 0}" *ngIf="(item.enabled || editModeActive) && evaluateDisplayCondition(item.displayCondition)">
                    <div class="imgWrapper">
                        <img [src]="item.type != 'custom' ? 'assets/Games/Maplestory/Dailies/' + item.image : item.image" onerror="this.onerror=null; this.src='assets/Games/Maplestory/Dailies/Custom.png'" alt="{{item.name}}">
                    </div>
                    <label for="dailyTask{{i}}" (click)="disableDailyTask(i)">{{ item.name }}</label>
                    <span class="ursusCountdown" *ngIf="item.name == 'Ursus' && resetUtcOffset == 0" style="pointer-events:none">{{ ursusTimerPrefix }} {{ ursusTimerString }}</span>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="dailyTask{{i}}" id="dailyTask{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="dailiesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveDailyTask(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveDailyTask(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="taskWrapper addTask" *ngIf="editModeActive" (click)="addCustomDaily('task')">
                <div class="imgWrapper">
                    <img src="assets/Games/Maplestory/Dailies/Custom.png" alt="custom">
                </div>
                <label>Add Custom Daily</label>
                <div class="inputWrapper">
                    <div class="taskAdder">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!allDailyArcaneRiverDisabled || editModeActive" class="taskGroupWrapper">
            <p>Arcane River Dailies</p>
            <ng-container *ngFor="let item of dailies[characterIndex].dailyArcaneRiver; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="(item.enabled || editModeActive) && evaluateDisplayCondition(item.displayCondition)">
                    <div class="imgWrapper">
                        <img [src]="item.type != 'custom' ? 'assets/Games/Maplestory/Dailies/' + item.image : item.image" onerror="this.onerror=null; this.src='assets/Games/Maplestory/Dailies/Custom.png'" alt="{{item.name}}">
                    </div>
                    <label for="dailyArcaneRiver{{i}}" (click)="disableDailyArcaneRiver(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="dailyArcaneRiver{{i}}" id="dailyArcaneRiver{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="dailiesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveDailyArcaneRiver(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveDailyArcaneRiver(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="taskWrapper addTask" *ngIf="editModeActive" (click)="addCustomDaily('arcane river')">
                <div class="imgWrapper">
                    <img src="assets/Games/Maplestory/Dailies/Custom.png" alt="custom">
                </div>
                <label>Add Custom Daily</label>
                <div class="inputWrapper">
                    <div class="taskAdder">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="editModeActive && addingCustomDaily" class="customNameInputWrapper" scrollTo>
        <div class="customNameInput">
            <div class="inputWrapper">
                <div class="characterNameInput">
                    <label for="customName">Custom {{ customDailyType }} daily name</label>
                    <input class="textInput" type="text" id="customName" name="customName" maxlength="30" [(ngModel)]="customDailyName" (keyup.enter)="confirmAddingCustomDaily()">
                </div>
                <div class="characterNameInput">
                    <label for="customUrl">Optional custom image url</label>
                    <input class="textInput" type="text" id="customUrl" name="customUrl" [(ngModel)]="customDailyImageUrl" (keyup.enter)="confirmAddingCustomDaily()">
                </div>
            </div>
            <div class="buttonWrapper">
                <button class="buttonStyle left" (click)="confirmAddingCustomDaily()">Confirm</button>
                <button class="buttonStyle right" (click)="cancelAddingCustomDaily()">Cancel</button>
            </div>
        </div>
    </div>
</div>