.editedGamePageContent {
    position: relative;
    width: 650px;
    margin: 0 auto;
    background-color: var(--game-page-background-color);
    border: 1px solid var(--game-page-border-color);
    min-height: calc(100vh - 72px);
    margin-top: 8px;
    padding-top: 15px;
}

.taskGroupWrapper {
    display: inline-block;
    margin: 0px 7px 0px 7px;
    vertical-align: top;
}

.taskGroupTitle {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    width: 262px;
}

.disableMode {
    width: 100px;
    height: 50px;
}

.dailyGroups {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.timer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 0px 0px 8px;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    border: 2px solid var(--game-page-border-color);
}

.buttonWrapper {
    width: 175px;
    margin: 0 auto;
}

.buttonWrapper button{
    margin: 0;
}

.buttonWrapper .left {
    float: left;
}

.buttonWrapper .right {
    float: right;
}

@media only screen and (max-width: 1157px) {
    .editedGamePageContent {
        float: left;
        margin: unset;
        margin-top: 8px;
        margin-left: 9px;
    }
}

@media only screen and (max-width: 912px) {
    .editedGamePageContent {
        width: calc(100% - 262px);
    }
}

@media only screen and (max-width: 800px) {
    .editedGamePageContent {
        margin-left: 8px;
        margin-right: 8px;
        min-height: calc(100vh - 100px);
        width: calc(100% - 18px);
    }
}