<div class="sidenavbar">
  <div class="sidenavbartitle">Maplestory</div>
  <p>General</p>
  <a [routerLink]="'/games/maplestory/home'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/home')">Home</span></a>
  <div class="horizontalSeparator"></div>
  <p>Calculators</p>
  <a [routerLink]="'/games/maplestory/arcane-symbols'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/arcane-symbols')">Arcane symbols</span></a>
  <a [routerLink]="'/games/maplestory/afk-experience-event'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/afk-experience-event')">Afk experience event</span></a>
  <div class="horizontalSeparator"></div>
  <p>Trackers</p>
  <a [routerLink]="'/games/maplestory/dailies'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/dailies')">Dailies</span></a>
  <a [routerLink]="'/games/maplestory/weeklies'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/weeklies')">Weeklies</span></a>
  <div class="horizontalSeparator"></div>
  <p>Misc</p>
  <a [routerLink]="'/games/maplestory/class-picker'"><span [class.sidenavbaractivelink]="router.isActive('/games/maplestory/class-pickers')">Class picker</span></a>
</div>
