<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="contentPageOverride">
    <p class="title">MapleStory</p>
    <p class="intro">Welcome to the MapleStory section of my website of random stuff. Here you will find things like calculators and trackers.</p>
    <p class="intro">If you run into any issues, have some suggestions or feature requests feel free to contact me on
        discord StarLines#0001</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>Aug 29, 2020</span>
            <p>- Added count down timer for golden time in the ursus daily task.</p>
        </div>
        <div class="individualLog">
            <span>Aug 4, 2020</span>
            <p>- Added multi character support to the daily and weekly tracker.</p>
        </div>
        <div class="individualLog">
            <span>Aug 1, 2020</span>
            <p>- Implemented the home page.</p>
            <p>- Fixed an issue in the weeklies tracker for timezones that are behind UTC.</p>
        </div>
        <div class="individualLog">
            <span>July 30, 2020</span>
            <p>- Added the weeklies tracker.</p>
        </div>
        <div class="individualLog">
            <span>July 29, 2020</span>
            <p>- Added the dailies tracker.</p>
        </div>
        <div class="individualLog">
            <span>July 28, 2020</span>
            <p>- Added the arcane symbol calculator.</p>
        </div>
    </div>
</div>