<div class="navbar">
  <div class="title">Maplestory</div>
  <div class="row">
    <div class="link"><a href="#home"><span class="underline">Home</span></a></div>
  </div>
  <div class="row">
    <div class="subtitle"><p><span>Calculators</span></p></div>
    <div class="link"><a href="#home"><span class="underline">Arcane symbols</span></a></div>
    <div class="link"><a href="#home"><span class="underline">Afk exp event</span></a></div>
  </div>
  <div class="row">
    <div class="subtitle"><p><span>Trackers</span></p></div>
    <div class="link"><a href="#home"><span class="underline">Dailies</span></a></div>
    <div class="link"><a href="#home"><span class="underline">Weeklies</span></a></div>
  </div>
  <div class="row">
    <div class="subtitle"><p><span>Misc</span></p></div>
    <div class="link"><a href="#home"><span class="underline">Class picker</span></a></div>
  </div>
</div>
