<!--
    planned ways to implement things:

    weeklies count downs: add a var to the "task-group" that contains if it resets on a certain day aka "sunday", "wednesday" or "no" use this to add a count down timer or not.
    weeklies reset: each countdown triggers it for them selves.
    dailies count down: add a count down to the dailies component itself.
    dailies reset: dailies component does the reset for everything -> this should be done by turning taskgroups into a var so its arrayable
    ^ not the cleanest way to implement it but the best for versatility 
-->


<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="gamePageContent">
    <app-topbar-default *ngIf="!dailiesData.editModeActive" [taskData]="dailiesData" [topBarTitle]="'Daily Tracker'" (changeEvent)="changeHandler()"></app-topbar-default>
    <app-topbar-editmode *ngIf="dailiesData.editModeActive" [taskData]="dailiesData" [topBarTitle]="'Daily Tracker'" (changeEvent)="changeHandler()"></app-topbar-editmode>


    <!-- 
    Reference for the daily reset countdown
    <div class="topBar">
        <p *ngIf="!editModeActive" class="timer">Reset in <br> {{ timerString }}</p>
    </div>
     -->
     <button class="buttonStyle" (click)="resetAllCompletedValues()">test reset</button>
     

    <div class="dailyGroups">
        <div *ngIf="allGroupsAreDisabled && !dailiesData.editModeActive">
            All dailies are disabled, click on the "Edit Dailies" button to enable dailies.
        </div>
        <app-task-group #tskgrpcmp *ngFor="let item of dailiesData.characters[this.dailiesData.selectedCharacterIndex].taskGroups; let i = index" [taskData]="dailiesData" [taskGroup]="item" [taskGroupIndex]="i" [title]="item.title" (changeEvent)="changeHandler()"></app-task-group>
    </div>
</div>