<app-genshin-side-navigation></app-genshin-side-navigation>
<div class="contentPageOverride">
    <p class="title">Genshin Impact</p>
    <p class="intro">Welcome to the Genshin Impact section of my website of random stuff. Although i don't play Genshin Impact myself i've had someone request to make a Genshin version of my maplestory dailies and weeklies tracker. Due to this i will not be aware of any changes that happen to the game. If in the future something changes and you would like to see me update something see the next paragraph on how to contact me.</p>
    <p class="intro">If you run into any issues, have some suggestions or feature requests feel free to contact me on discord StarLines#0001</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>April 23, 2021</span>
            <p>- Implemented the dailies and weeklies tracker.</p>
        </div>
        <div class="individualLog">
            <span>April 23, 2021</span>
            <p>- Implemented the home page.</p>
        </div>
    </div>
</div>