.taskWrapper {
    width: 250px;
    height: 54px;
    margin: 5px 0px 5px 0px;
    padding: 5px;
    border-radius: 10px;
}

.taskWrapper .imgWrapper {
    position: relative;
    float: left;
    width: 52px;
    height: 52px;
}

.taskWrapper img {
    position:absolute;
    max-width: 50px;
    max-height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.taskWrapper label {
    display: flex;
    float: left;
    width: 165px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.taskWrapper .inputWrapper {
    float: left;
    display: flex;
    width: 25px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.disableMode {
    width: 100px;
    height: 50px;
}

.enabledTask {
    border: 1px solid var(--navigation-bar-settings-icon-font-color);
}

.disabledTask {
    border: 1px solid red;
}

.taskGroupWrapper {
    display: inline-block;
    margin: 0px 7px 0px 7px;
}

.taskGroupWrapper .groupTitle{
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 22px;
}

.weeklyGroups {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.topBar {
    width: 100%;
    height: 50px;
    position: relative;
}

.topBar .title {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 5px;
}

.topBar .editButton {
    background-color: var(--game-page-accent-color);
    border: none;
    color: #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 3px 8px 0px 0px;
    outline:none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.editModeMessage {
    color: red;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.timer {
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
}

.regionSelector {
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px 0px 0px 8px;
}

.regionSelector select {
    width: 80px;
    margin: 0px;
}

.characterNavigationBar {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
    overflow-wrap: break-word;
}

.characterNavigationBar a {
    padding: 2px 4px 2px 4px;
    margin: 4px 4px 0px 4px;
    font-size: 18px;
    display: inline-block;
}

.characterNavigationBar a:hover {
    cursor: pointer;
}

.notSelected {
    border: 2px solid var(--game-page-border-color);
}

.selected {
    border: 2px solid var(--game-page-accent-color);
}

.inputWrapper {
    text-align: center;
    margin-bottom: 10px;
}

.characterNameInput {
    display: inline-block;
    margin-top: 3px;
}

.characterNameInput label {
    display:block;
    text-align: center;
    font-size: 15px;
}

.characterNameInput input{
    display:block;
    margin-top: 3px;
    text-align: center;
    width: 180px;
}

.orderChanger {
    color: var(--navigation-bar-settings-icon-font-color);
}

@media only screen and (max-width: 950px) {
    .topBar {
        height: 83px;
    }

    .topBar .title {
        padding-top: 48px;
    }
}