<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="gamePageContent">
    <div class="topBar">
        <div *ngIf="editModeActive" class="regionSelector">
            Region: 
            <select class="select" (change)="regionChange($event)">
                <option *ngFor="let r of regions" value="r.resetUtcOffset" [selected]="resetUtcOffset == r.resetUtcOffset">{{r.name}}</option>
            </select>
        </div>
        <p class="title">Weekly Tracker {{ weeklies[characterIndex].characterName }}</p>
        <button class="editButton" (click)="toggleEditMode()">{{ editButtonMessage }}</button>
    </div>
    <div class="characterNavigationBar">
        <a (click)="changeCharacter(0)" [ngClass]="(characterIndex == 0)?'selected':'notSelected'">{{ weeklies[0].characterName }}</a>
        <a (click)="changeCharacter(1)" [ngClass]="(characterIndex == 1)?'selected':'notSelected'">{{ weeklies[1].characterName }}</a>
        <a (click)="changeCharacter(2)" [ngClass]="(characterIndex == 2)?'selected':'notSelected'">{{ weeklies[2].characterName }}</a>
        <a (click)="changeCharacter(3)" [ngClass]="(characterIndex == 3)?'selected':'notSelected'">{{ weeklies[3].characterName }}</a>
    </div>
    <p class="editModeMessage" *ngIf="editModeActive">Edit mode active, click on the names of weeklies to disable them (this
        will prevent them from showing up outside of the edit mode)</p>
    <div class="inputWrapper" *ngIf="editModeActive">
        <div class="characterNameInput">
            <label for="characterName">Character Name</label>
            <input class="textInput" type="text" id="characterName" name="characterName" maxlength="12" [(ngModel)]="weeklies[characterIndex].characterName">
        </div>
    </div>
    <div class="weeklyGroups">
        <div class="taskGroupWrapper">
            <p class="groupTitle">Weekly Bosses</p>
            <p class="timer">{{ timerWeeklyBossesString }}</p>
            <ng-container *ngFor="let item of weeklies[characterIndex].weeklyBosses; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="item.enabled || editModeActive">
                    <div class="imgWrapper">
                        <img src="assets/Games/Maplestory/Weeklies/{{item.image}}" alt="{{item.name}}">
                    </div>
                    <label for="weeklyBosses{{i}}" (click)="disableWeeklyBoss(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="weeklyBosses{{i}}" id="weeklyBosses{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="weekliesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveWeeklyBoss(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveWeeklyBoss(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="taskGroupWrapper">
            <p class="groupTitle">Weekly Tasks</p>
            <p class="timer">{{ timerWeeklyTasksString }}</p>
            <ng-container *ngFor="let item of weeklies[characterIndex].weeklyTasks; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="item.enabled || editModeActive">
                    <div class="imgWrapper">
                        <img src="assets/Games/Maplestory/Weeklies/{{item.image}}" alt="{{item.name}}">
                    </div>
                    <label for="weeklyTask{{i}}" (click)="disableWeeklyTask(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="weeklyTask{{i}}" id="weeklyTask{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="weekliesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveWeeklyTask(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveWeeklyTask(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
