<div class="sidenavbar">
  <div class="sidenavbartitle">Genshin Impact</div>
  <p>General</p>
  <a [routerLink]="'/games/genshin/home'"><span [class.sidenavbaractivelink]="router.isActive('/games/genshin/home', false)">Home</span></a>
  <div class="horizontalSeparator"></div>
  <p>Trackers</p>
  <a [routerLink]="'/games/genshin/dailies'"><span [class.sidenavbaractivelink]="router.isActive('/games/genshin/dailies', false)">Dailies</span></a>
  <a [routerLink]="'/games/genshin/weeklies'"><span [class.sidenavbaractivelink]="router.isActive('/games/genshin/weeklies', false)">Weeklies</span></a>
</div>