<div class="contentPageOverride">
    <button class="currencyButton" (click)="changeCurrency()">Switch £/€</button>
    <p class="title">Pluton Rewards Calculator</p>
    <p class="infoTextTop">
        This is a community-created calculator based on information
        released by Plutus regarding their upcoming updates to the
        subscription plans and Reward Levels.
    </p>
    <div class="inputWrapper">
        <div class="inputLabelWrapper">
            <label for="subscriptionTier">Subscription Plan</label>
            <ng-select name="subscriptionTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedSubscriptionTier" (change)="subscriptionTierChange($event)">
                <ng-option *ngFor="let r of subscriptionTiers" [value]="r">&nbsp;{{ r.name.padEnd(14, '&nbsp;') }} <span class="optionSmallText">{{ currencySymbol }}{{ r.cost | number : '1.2-2'}}/m</span></ng-option>
             </ng-select>
        </div>

        <div class="inputLabelWrapper">
            <label for="stackingTier">Reward Levels</label>
            <ng-select name="stackingTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedStackingTier" (change)="stackingTierChange($event)">
                <ng-option *ngFor="let r of stackingTiers" [value]="r">&nbsp;{{ r.name.padEnd(14, '&nbsp;') }} <span *ngIf="r.pluRequired != 0" class="optionSmallText">{{ r.pluRequired }} PLU</span></ng-option>
             </ng-select>
        </div>

        <div class="inputLabelWrapper">
            <label for="eligibleSpendTier">Rewards Cap</label>
            <ng-select name="eligibleSpendTier" [searchable]="false" [clearable]="false" [(ngModel)]="selectedEligibleSpendTier" (change)="eligibleSpendTierChange($event)">
                <ng-option *ngFor="let r of eligibleSpendTiers" [value]="r">
                    <span *ngIf="r.cost == 0">&nbsp;{{ r.name }}</span>
                    <span *ngIf="r.cost != 0">&nbsp;{{ currencySymbol }}{{ r.eligibleSpend  | number : '1.0-0' }}/m &nbsp;&nbsp;&nbsp;<span *ngIf="r.cost != 500">&nbsp;</span><span class="optionSmallText">{{ r.cost }} PLU/yr</span></span>
                </ng-option>
             </ng-select>
        </div>
    </div>

    <div class="overview">
        <div class="overviewItem">
            <h1>{{ cashbackRate }}%</h1>
            <h5>REWARDS</h5>
        </div>
        <div class="overviewItem">
            <h1>{{ perkCount }}</h1>
            <h5>PERKS</h5>
        </div>
        <div class="overviewItem">
            <h1>{{ currencySymbol }}{{ eligibleSpend | number : '1.0-0' }}/m</h1>
            <h5>REWARDS CAP</h5>
        </div>
    </div>

    <div class="outputWrapper">
        <div class="header">
            <p>Monthly Rewards</p>
            <hr>
            <p>Monthly Perks</p>
            <hr>
            <p>Total Monthly Value</p>
            <hr>
            <p>Subscription Cost</p>
            <hr>
            <p>Redeem Cost</p>
            <hr>
            <p>Earn Yearly Value (minus costs)</p>
        </div>
        <div class="values">
            <p>{{ currencySymbol }}{{ monthlyCashbackValue | number : '1.2-2'}}</p>
            <hr>
            <p>{{ currencySymbol }}{{ monthlyPerkValue | number : '1.2-2' }}</p>
            <hr>
            <p>{{ currencySymbol }}{{ totalMonthlyValue | number : '1.2-2' }}</p>
            <hr>
            <p>{{ currencySymbol }}{{ subscriptionCost | number : '1.2-2' }}</p>
            <hr>
            <p>{{ currencySymbol }}{{ redeemCost | number : '1.2-2' }}</p>
            <hr>
            <p>{{ currencySymbol }}{{ actualTotalYearlyValue | number : '1.2-2' }}</p>
        </div>
    </div>

    <div class="explainer">
        <p><span>Subscription Plan:</span> Signing up to a monthly subscription plan is a compulsory requirement to earn rewards and perks.</p>
        <p><span>Reward Levels:</span> A reward level can be unlocked by stacking earned PLU. Unlocking a reward level will give you a higher rewards rate and perks.</p>
        <p><span>Rewards Cap:</span> You can increase the monthly spending amount eligible for earning rewards by redeeming PLU you have earned.</p>
    </div>

    <div class="importantNotes">
        <span>Important Notes:</span>
        <ul>
            <li>Redeeming PLU is sent back to the Rewards Pool to increase sustainability.</li>
            <li>The redemption cost for boosted rewards cap is dynamically determined by the value set by customers on third-party platforms, both those who earn PLU and those who use it to unlock features.</li>
            <li>The PLU required for Reward Levels is not accounted for as a cost since customers retain both their stack and the rewards in personal wallets available to swap at any time.</li>
        </ul>
    </div>

    <!-- <p class="referralStuff">
        My Plutus referral link:
        <br>
        <a href="https://dex.plutus.it/auth/referee/signup?refId=LiBLlj" target="_blank">click here</a>
        <br>
        <br>
        An ETH address to send PLU to if you want to (or ETH):
        <br>
        0x0aD67F6CE23B3031aD7B516acB7DA791F523ed3B
    </p> -->
</div>