<div class="symbolInput">
    <div class="checkboxWrapper">
        <input name="dailyQuest" id="dailyQuest" type="checkbox" (change)="dailyQuestChangeHandler()" [(ngModel)]="dailyQuest" [ngModelOptions]="{standalone: true}"/>
        <label for="dailyQuest">Daily Quest (8)</label>
    </div>
</div>


<div class="symbolInput">
    <div class="inputLabelWrapper">
        <label for="spiritSaviour">Spirit Saviour</label>
        <input name="spiritSaviour" id="spiritSaviour" type="number" [(ngModel)]="spiritSaviour" (input)="spiritSaviourInput($event)">
    </div>
</div>
