.contentPageOverride {
    width: 800px;
    background-color: var(--content-page-background-color);
    border: 1px solid var(--content-page-border-color);
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    margin-top: 8px;
    position: relative;
}

.currencyButton {
    background-color: #0722B6;
    border: none;
    color: #FFFFFF;
    padding: 5px 8px 5px 8px;
    text-align: center;
    font-size: 16px;
    margin: 8px 8px 0px 0px;
    outline:none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.title {
    padding-top: 5x;
    padding-bottom: 15px;
}

.inputLabelWrapper {
    display: grid;
    place-items: center;
    margin-bottom: 8px;
}

.inputLabelWrapper label {
    margin: auto;
    display: block;
    margin-bottom: 2px;
    width: 200px;
}

.inputLabelWrapper select {
    margin: auto;
    display: block;
}

.contentPageOverride .title {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 8px;
}

.referralStuff {
    margin-top: 30px;
    text-align: center;
}

.referralStuff a {
    color: inherit;
    text-decoration: underline;
}

.outputWrapper {
    margin-top: 20px;
}

.select {
    font-family: monospace;
    font-size: 14px;
}

.subTitle {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    margin: 10px 0px 2px 0px;
}

input {
    width: 250px;
}

.infoTextTop {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12.5px;
    width: 440px;
}

.referralStuff {
    margin-top: 30px;
    text-align: center;
    font-size: 12.5px;
}

@media only screen and (max-width: 818px) {
    .contentPageOverride {
        width: calc(100% - 18px);
    }
}

@media only screen and (max-width: 444px) {
    .inputWrapper {
        margin-top: 5px;
    }

    .textAreaWrapper {
        width: calc(100% - 8px);
    }

    .controlsWrapper {
        margin-left: 4px;
    }
    
    .countWrapper {
        margin-left: 4px;
    }
}