<div class="navbar">
  <p class="navbartitle">Random stuff</p>
  <div class="verticalSeperator"></div>
  <a [routerLink]="'home'"><span [class.underline]="router.isActive('/home')">Home</span></a>
  <a [routerLink]="'about'"><span [class.underline]="router.isActive('/about')">About</span></a>
  <div class="dropdown">
    <button class="dropbtn" (click)="showDropDown($event, 'games')">
      <span [class.underline]="router.isActive('/games')">
        Games
        <i class="fa fa-caret-down"></i>
      </span>
    </button>
    <div class="dropdown-content" *ngIf="showGamesDropDown" (clickOutside)="hideDropDown('games')">
      <a [routerLink]="'games/ark/home'"><span [class.underline]="router.isActive('/games/ark')">ARK: Survival Evolved</span></a>
      <a [routerLink]="'games/maplestory/home'"><span [class.underline]="router.isActive('/games/maplestory')">Maplestory</span></a>
      <a [routerLink]="'games/overwatch/home'"><span [class.underline]="router.isActive('/games/overwatch')">Overwatch</span></a>
    </div>
  </div>

  <div class="dropdown settings">
    <button class="dropbtn" (click)="showDropDown($event, 'settings')">
      <i class="fa fa-cog fa-lg"></i>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content settings-content" *ngIf="showSettingsDropDown" (clickOutside)="hideDropDown('settings')">
      <p class="settingsp">
        Dark Mode <input type="checkbox" id="switch" [(ngModel)]="darkMode" (change)="toggleTheme($event)"/><label for="switch"></label>
      </p>
    </div>
  </div>
</div>