<app-maplestory-side-navigation></app-maplestory-side-navigation>
<div class="gamePageContent">
    <div class="topBar">
        <div *ngIf="editModeActive" class="regionSelector">
            Region: 
            <select class="select" (change)="regionChange($event)">
                <option *ngFor="let r of regions" value="r.resetUtcOffset" [selected]="resetUtcOffset == r.resetUtcOffset">{{r.name}}</option>
            </select>
        </div>
        <p class="title">Weekly Tracker {{ weeklies[characterIndex].characterName }}</p>
        <button class="editButton" (click)="toggleEditMode()">{{ editButtonMessage }}</button>
    </div>
    <div class="characterNavigationBar">
        <a (click)="changeCharacter(0)" [ngClass]="(characterIndex == 0)?'selected':'notSelected'">{{ weeklies[0].characterName }}</a>
        <a (click)="changeCharacter(1)" [ngClass]="(characterIndex == 1)?'selected':'notSelected'">{{ weeklies[1].characterName }}</a>
        <a (click)="changeCharacter(2)" [ngClass]="(characterIndex == 2)?'selected':'notSelected'">{{ weeklies[2].characterName }}</a>
        <a (click)="changeCharacter(3)" [ngClass]="(characterIndex == 3)?'selected':'notSelected'">{{ weeklies[3].characterName }}</a>
    </div>
    <p class="editModeMessage" *ngIf="editModeActive">Edit mode active, click on the names of weeklies to disable them (this
        will prevent them from showing up outside of the edit mode)<br>Adding custom weeklies is possible with the option at the bottom of each list (custom weeklies cannot be disabled but are instead removed)</p>
    <div class="inputWrapper" *ngIf="editModeActive">
        <div class="characterNameInput">
            <label for="characterName">Character Name</label>
            <input class="textInput" type="text" id="characterName" name="characterName" maxlength="12" [(ngModel)]="weeklies[characterIndex].characterName">
        </div>
    </div>
    <div class="weeklyGroups">
        <div *ngIf="allWeeklyBossesDisabled && allWeeklyTasksDisabled && !editModeActive">
            All weeklies are disabled, click on the "Edit Weeklies" button to enable weeklies.
        </div>
        <div *ngIf="!allWeeklyBossesDisabled || editModeActive" class="taskGroupWrapper">
            <p class="groupTitle">Weekly Bosses</p>
            <p class="timer">{{ timerWeeklyBossesString }}</p>
            <ng-container *ngFor="let item of weeklies[characterIndex].weeklyBosses; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="item.enabled || editModeActive">
                    <div class="imgWrapper">
                        <img [src]="item.type != 'custom' ? 'assets/Games/Maplestory/Weeklies/' + item.image : item.image" onerror="this.onerror=null; this.src='assets/Games/Maplestory/Weeklies/Custom.png'" alt="{{item.name}}">
                    </div>
                    <label for="weeklyBosses{{i}}" (click)="disableWeeklyBoss(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="weeklyBosses{{i}}" id="weeklyBosses{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="weekliesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveWeeklyBoss(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveWeeklyBoss(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="taskWrapper addTask" *ngIf="editModeActive" (click)="addCustomWeekly('boss')">
                <div class="imgWrapper">
                    <img src="assets/Games/Maplestory/Dailies/Custom.png" alt="custom">
                </div>
                <label>Add Custom Weekly</label>
                <div class="inputWrapper">
                    <div class="taskAdder">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!allWeeklyTasksDisabled || editModeActive" class="taskGroupWrapper">
            <p class="groupTitle">Weekly Tasks</p>
            <p class="timer">{{ timerWeeklyTasksString }}</p>
            <ng-container *ngFor="let item of weeklies[characterIndex].weeklyTasks; let i = index">
                <div class="taskWrapper" [ngClass]="(item.enabled)?'enabledTask':'disabledTask'" *ngIf="item.enabled || editModeActive">
                    <div class="imgWrapper">
                        <img [src]="item.type != 'custom' ? 'assets/Games/Maplestory/Weeklies/' + item.image : item.image" onerror="this.onerror=null; this.src='assets/Games/Maplestory/Weeklies/Custom.png'" alt="{{item.name}}">
                    </div>
                    <label for="weeklyTask{{i}}" (click)="disableWeeklyTask(i)">{{ item.name }}</label>
                    <div class="inputWrapper">
                        <input *ngIf="!editModeActive" name="weeklyTask{{i}}" id="weeklyTask{{i}}" type="checkbox" [(ngModel)]="item.completed" (change)="weekliesChangeHandler()" />
                        <div *ngIf="editModeActive" class="orderChanger">
                            <i class="fa fa-caret-up fa-2x" (click)="moveWeeklyTask(i, 'up')"></i>
                            <i class="fa fa-caret-down fa-2x" (click)="moveWeeklyTask(i, 'down')"></i>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="taskWrapper addTask" *ngIf="editModeActive" (click)="addCustomWeekly('task')">
                <div class="imgWrapper">
                    <img src="assets/Games/Maplestory/Weeklies/Custom.png" alt="custom">
                </div>
                <label>Add Custom Weekly</label>
                <div class="inputWrapper">
                    <div class="taskAdder">
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="editModeActive && addingCustomWeekly" class="customNameInputWrapper" scrollTo>
        <div class="customNameInput">
            <div class="inputWrapper">
                <div class="characterNameInput">
                    <label for="customName">Custom {{ customWeeklyType }} weekly name</label>
                    <input class="textInput" type="text" id="customName" name="customName" maxlength="30" [(ngModel)]="customWeeklyName" (keyup.enter)="confirmAddingCustomWeekly()">
                </div>
                <div class="characterNameInput">
                    <label for="customUrl">Optional custom image url</label>
                    <input class="textInput" type="text" id="customUrl" name="customUrl" [(ngModel)]="customWeeklyImageUrl" (keyup.enter)="confirmAddingCustomWeekly()">
                </div>
            </div>
            <div class="buttonWrapper">
                <button class="buttonStyle left" (click)="confirmAddingCustomWeekly()">Confirm</button>
                <button class="buttonStyle right" (click)="cancelAddingCustomWeekly()">Cancel</button>
            </div>
        </div>
    </div>
</div>
