:root {
    --font-color: #FFFFFF;
    --background-color: #121212;

    --navigation-bar-background-color: #333333;
    --navigation-bar-separator-color: #808080;
    --navigation-bar-font-color: #FFFFFF;
    --navigation-bar-dropdown-color: #474747;
    --navigation-bar-settings-icon-font-color: #FFFFFF;
    --navigation-bar-accent-color: #FF9F34;

    --toggleswitch-off-background-color: #D3D3D3;
    --toggleswitch-on-background-color: #808080;
    --toggleswitch-slider-color: #FFFFFF;

    --sidenavbar-background-color: #181818;
    --sidenavbar-border-color: #222222;
    --sidenavbar-font-color: #FFFFFF;
    --sidenavbar-title-font-color: #FFFFFF;
    --sidenavbar-title-background-color: #333333;
    --sidenavbar-separator-color: #808080;
    --sidenavbar-accent-color: #FF9F34;

    --scrollbar-track--color: #21201e;
    --scrollbar-thumb--color: #4d4d4b;
    --scrollbar-thumb-hover-color: #5f5f5d;

    --game-page-background-color: #181818;
    --game-page-border-color: #222222;
    --game-page-accent-color: #FF9F34;

    --content-page-background-color: #181818;
    --content-page-border-color: #222222;
}

[data-theme="light"] {
    --font-color: #000000;
    --background-color: #e5e9ee;

    --navigation-bar-background-color: #FFFFFF;
    --navigation-bar-separator-color: #808080;
    --navigation-bar-font-color: #000000;
    --navigation-bar-dropdown-color: #FFFFFF;
    --navigation-bar-settings-icon-font-color: #878A8C;
    --navigation-bar-accent-color: #FF9F34;

    --toggleswitch-off-background-color: #D3D3D3;
    --toggleswitch-on-background-color: #808080;
    --toggleswitch-slider-color: #FFFFFF;

    --sidenavbar-background-color: #FFFFFF;
    --sidenavbar-border-color: #d9d9d9;
    --sidenavbar-font-color: #000000;
    --sidenavbar-title-font-color: #000000;
    --sidenavbar-title-background-color: #f7f8fa;
    --sidenavbar-separator-color: #808080;
    --sidenavbar-accent-color: #FF9F34;

    --scrollbar-track--color: #f1f1f1;
    --scrollbar-thumb--color: #CCCCCC;
    --scrollbar-thumb-hover-color: #BBBBBB;

    --game-page-background-color: #FFFFFF;
    --game-page-border-color: #d9d9d9;
    --game-page-accent-color: #FF9F34;

    --content-page-background-color: #FFFFFF;
    --content-page-border-color: #d9d9d9;
}

body {
    background-color: var(--background-color);
    color:  var(--font-color);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* start of side navigation bar css */
.sidenavbar {
    margin: 8px;
    width: 225px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--sidenavbar-border-color);
    float: left;
    padding-bottom: 2px;
    background-color: var(--sidenavbar-background-color);
}

.sidenavbartitle {
    padding: 13px 0px 15px 0px;
    color: var(--sidenavbar-title-font-color);
    text-align: center;
    background-color: var(--sidenavbar-title-background-color);
    border: 1px solid var(--sidenavbar-border-color);
    border-bottom: 2px solid var(--sidenavbar-border-color);
}

.sidenavbar a {
    float: none;
    color: var(--sidenavbar-font-color);
    padding: 4px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sidenavbar p {
    font-weight: bold;
    float: none;
    color: var(--sidenavbar-font-color);
    padding: 8px 12px 4px 12px;
    display: block;
    text-align: left;
    margin: 0px;
}

.horizontalSeparator {
    margin: 5px 7px 11px 7px;
    float: left;
    border-bottom:1px solid var(--sidenavbar-separator-color);
    width: 211px;
  }

.sidenavbar a:hover span{
    color: var(--sidenavbar-accent-color);
}

.sidenavbaractivelink {
    border-bottom: 3px solid var(--sidenavbar-accent-color);
}
/* end of side navigation bar css */

/* start of game page content css */
.gamePageContent {
    width: 1130px;
    margin: 0 auto;
    background-color: var(--game-page-background-color);
    border: 1px solid var(--game-page-border-color);
    min-height: calc(100vh - 72px);
    margin-top: 8px;
}
/* end of game page content css */

/* start of content page content css */
.contentPage {
    width: 800px;
    background-color: var(--content-page-background-color);
    border: 1px solid var(--content-page-border-color);
    min-height: calc(100vh - 72px);
    margin: 0 auto;
    margin-top: 8px;
}

.contentPage h2 {
    text-align: center;
}

.contentPage p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

.contentPage .invisible {
    margin: 0px;
    color: var(--sidenavbar-background-color);
}
/* end of content page content css */

@media only screen and (max-width: 1635px) {
    /* start of game page content css */
    .gamePageContent {
        float: left;
        margin: unset;
        margin-top: 8px;
        margin-left: 9px;
    }
    /* end of game page content css */
}

@media only screen and (max-width: 1391px) {
    /* start of game page content css */
    .gamePageContent {
        width: calc(100% - 262px);
    }
    /* end of game page content css */
}

@media only screen and (max-width: 900px) {
    /* start of content page content css */
    .contentPage {
        width: 89%;
    }
    /* end of content page content css */
}

@media only screen and (max-width: 800px) {
    /* start of side navigation bar css */
    .horizontalSeparator {
        display: none;
      }

    .sidenavbar {
        margin: 0px;
        width: calc(100% - 11px);
        padding-bottom: 0px;
        padding-left: 11px;
        border: none;
        border-top: 1px solid var(--sidenavbar-border-color);
        border-bottom: 1px solid var(--sidenavbar-border-color);
    }
    
    .sidenavbartitle {
        display: none;
    }
    
    .sidenavbar a {
        float: left;
    }
    
    .sidenavbar p {
        display: none;
    }
    /* end of side navigation bar css */

    /* start of game page content css */
    .gamePageContent {
        margin-left: 8px;
        margin-right: 8px;
        min-height: calc(100vh - 100px);
        width: calc(100% - 18px);
    }
    /* end of game page content css */
}

/* start of scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track--color);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb--color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
/* end of scrollbar styling */