<app-hidden-side-navigation></app-hidden-side-navigation>
<div class="contentPageOverride">
    <p class="title">Hidden</p>
    <p class="intro">Welcome to the hidden section of my website of random stuff. Here you will find stuff like audio/video playback experimenting.</p>
    <div class="changeLog">
        <p class="changeLogTitle">Change Log</p>
        <div class="individualLog">
            <span>Sept 1, 2020</span>
            <p>- Implemented the home page.</p>
        </div>
    </div>
</div>